@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}
input {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
button {
  max-width: 150px;
  padding: 5px;
  border-radius: 10px;
  /* background-color: rgb(230, 230, 230); */
  background-color: #1e6a35;
  color: #f9ed92;
  font-size: 16px;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
}

button:hover {
  background-color: #f9ed92;
  color: white;
}

#spongebob {
  height: 150px;
}

li {
  list-style: none;
}

#mainDiv {
  border: solid black 1px;
  width: 80%;
  margin: 0 auto;
}

#mainDiv ul {
  margin: 0 auto;
  /* background-color: aqua;
  width: 50%; */
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

/* #mainDiv ul button {
  float: right;
} */
